@model Jogador


@{
    ViewData["Title"] = "Jogador";
}

<h1>Tela de Jogadores</h1>
<form method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

<label for="">Nome</label>
<input type="text" name="Nome">

<label for="">Email</label>
<input type="text" name="Email">

<label for="">Imagem</label>
<input type="file" name="Imagem">

<button type="submit">Cadastrar</button>

</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Imagem</th>
        <th>Acoes</th>
    </thead>

    <tbody>
        @foreach (var jogador in IdJogador)
        {
            
        }
    </tbody>
</table>
